body {
  margin: 0;
}

.bg-lightBlue__light {
  background-color: rgba(59, 138, 217, 0.2);
}

.bg-lightBlue__dark {
  background-color: rgba(93, 93, 93, 0.2);
}

.bg-Blue__light {
  background-color: rgba(59, 138, 217, 1);
}

.bg-Blue__dark {
  background-color: rgba(93, 93, 93, 1);
}

.circularProgress {
  width: 100px !important;
  height: 100px !important;
}

.StyledInputBase input {
  width: 100% !important;
}

.react-swipeable-view-container img {
  filter: brightness(50%);
}

.swipeableTextMobileStepper button {
  display: none;
}

.swipeableTextMobileStepper:hover button {
  display: inline-flex;
}

.SwipeableViews .react-swipeable-view-container > div {
  width: calc(100% / 6) !important;
  margin-top: 24px;
  margin-bottom: 24px;
}

@media (max-width: 1536px) {
  .SwipeableViews .react-swipeable-view-container > div {
    width: calc(100% / 5) !important;
  }
}

@media (max-width: 1200px) {
  .SwipeableViews .react-swipeable-view-container > div {
    width: calc(100% / 4) !important;
  }
}

@media (max-width: 900px) {
  .SwipeableViews .react-swipeable-view-container > div {
    width: calc(100% / 2) !important;
  }
}

@media (max-width: 600px) {
  .SwipeableViews .react-swipeable-view-container > div {
    width: 100% !important;
  }
}

.Card-Title {
  font-size: 16px !important;
}

.ProductCard {
  height: calc(100% - 48px);
  padding: 24px;
}

.ProductCard-price,
.Details-price {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
}

.rangeSlider__light span {
  color: #1976d2;
}

.rangeSlider__light span svg {
  color: var(--mui-palette-primary-main);
}

.rangeSlider__dark span {
  color: #272727;
}

.rangeSlider__dark span svg {
  color: #272727;
}

.FilterMob .MuiPaper-root {
  background-color: white !important;
}

.cart--icon__hover--div {
  position: relative;
}

.cart--icon__hover {
  position: absolute;
  display: none;
  right: 0px;
  width: 350px;
  z-index: 15;
}

@media (min-width: 1000px) {
  .cart--icon:hover .cart--icon__hover {
    display: block;
  }
}

.password__valid .css-1mg8f6q-MuiInputBase-root-MuiInput-root:before,
.input__valid .css-1l5fmpg-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px solid #272727 !important;
}

.input__valid .css-1l5fmpg-MuiInputBase-root-MuiInput-root:after,
.password__valid .css-1mg8f6q-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid #272727 !important;
}

.input__valid > label,
.password__valid > label {
  color: #272727 !important;
}

.input__valid > div > input {
  color: #272727 !important;
}

.input__error > div > input {
  color: var(--mui-palette-error-main) !important;
}

@media (max-width: 767px) {
  .stepLabel__disable > span:nth-child(2),
  .stepLabel__active > span:nth-child(2) {
    display: none;
  }
}

.password__error > label {
  color: var(--mui-palette-error-main) !important;
}

.password__error .css-1mg8f6q-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px solid var(--mui-palette-error-main) !important;
}

.password__error .css-1mg8f6q-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid var(--mui-palette-error-main) !important;
}

.password__error .MuiIconButton-root {
  color: var(--mui-palette-error-main) !important;
}

.stepLabel__active > span:nth-child(1) > svg {
  color: hsl(210, 79%, 46%) !important;
}

.stepLabel__active > span:nth-child(1) > svg > text {
  fill: white !important;
}

.stepLabel__disable > span:nth-child(1) > svg {
  color: rgba(0, 0, 0, 0.38) !important;
}

.stepLabel__disable > span:nth-child(1) > svg > text {
  fill: white !important;
}

.stepLabel__active > span:nth-child(2) > span {
  color: #272727 !important;
}

.stepLabel__disable > span:nth-child(2) > span {
  color: rgba(0, 0, 0, 0.6) !important;
}
